{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}

<div class="content">
    <h1>Nos artistes :</h1>

    <div class="grille">
        {% for artist in artists %}
            <div class="card">
                <div class="row">
                    <div class="col-4">

                        {% if artist.picture is null %}
                            <img class="image" src="/concertProject/public/images/index.jpeg">
                        {% endif %}
                        {% if artist.picture is not null %}
                            <img class="image" src="{{ artist.picture.url }}">
                        {% endif %}

                        {% if artist.picture != null %}
                            <p>Our website is in maintenance mode. Please, come back later.</p>

                            {{  artist.picture.getUrl()}}
                            <img src="{{  artist.picture.getUrl()}}">
                        {% endif %}
                    </div>
                    <div class="col-8 nom">
                        <a href="{{path('artist_show', {id : artist.id })}}">{{artist.name}}</a>
                        <p>({{artist.getSceneName()}})</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
