{% block navbar %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="http://localhost/concertProject/public/">concertProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('band_list')}}">Groupes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('artist_list')}}">Artistes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('concert_list')}}">Concerts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Concerts</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('concert_list')}}">Concert Future</a></li>
            <li><a class="dropdown-item" href="{{path('concert_list')}}">Concert Passé</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
