{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="http://localhost/concertProject/public/">concertProject</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('band_list')}}">Groupes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('artist_list')}}">Artistes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Concerts</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('concert_list')}}">Tous les Concerts</a></li>
            <li><a class="dropdown-item" href="{{path('concertFuture_list')}}">Concert Future</a></li>
            <li><a class="dropdown-item" href="{{path('concertPast_list')}}">Concert Passé</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Administrateur</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('concert_create')}}">Ajouter concert</a></li>
            <li><a class="dropdown-item" href="{{path('band_create')}}">Ajouter groupe</a></li>
            <li><a class="dropdown-item" href="{{path('artist_create')}}">Ajouter artiste</a></li>
            <li><a class="dropdown-item" href="{{path('picture_create')}}">Ajouter image</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Mon compte</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a></li>
            <li><a class="dropdown-item" href="{{path('app_logout')}}">Se deconnecter</a></li>
            <li><a class="dropdown-item" href="{{path('app_register')}}">S'enregistrer</a></li>
            <li><a class="dropdown-item" href="{{path('app_register')}}">Modifier son compte</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
