{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="content">
    {{ form_start(form) }}
    {{ form_row(form.FirstName) }}
    {{ form_row(form.LastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    {{ form_row(form.save) }}

    {{ form_end(form) }}
</div>
{% endblock %}
